@model ShoppingSite.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>
<form method="post">
    @if (Model.ShoppingCarts.Count > 0)
    {
        <div class="thumbnail row">
            <table>
                <tr>
                    <th></th>
                    <th style="width:70px; text-align:center">
                        @Html.LabelFor(w => w.ShoppingCarts.FirstOrDefault().Products.Price)
                    </th>
                    <th style="width:70px; text-align:center">
                        @Html.LabelFor(w => w.ShoppingCarts.FirstOrDefault().Count)
                    </th>
                </tr>
            </table>
        </div>
    }
    else
    {
         <h3>No Items In Cart...</h3>
    }
</form>
