<style>
    div.panel-body {
        overflow: scroll;
        background: url('http://subtlepatterns.com/patterns/geometry2.png');
    }
</style>

<h2 class="center-text">Chat Support</h2>

<div class="chat-panel-body h-100" id="chat">
    <input type="hidden" id="displayname" />

    <p id="discussion"></p>
</div>
<div class="panel-footer">
    <div class="input-group">
        <input id="message" type="text" name="message" class="form-control" placeholder="Type your message here..." />

        <input type="button" class="btn btn-warning btn-sm ml-2 form-control" id="sendmessage" value="Send">
    </div>
</div>
