<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        if (Session["cart"] != null) 
        {
            <li style="color:white;">
                <a href="/ShoppingCart/Index">
                    <span class="glyphicon glyphicon-shopping-cart">
                        &nbsp;(@Session["count"])
                    </span>
                </a>
            </li>
        }
        else if (Session["cart"] == null) 
        {
            <li style="color:white;">
                <a href="/ShoppingCart/Index">
                    <span class="glyphicon glyphicon-shopping-cart">
                        &nbsp;(0)
                    </span>
                </a>
            </li>
        }
    }
</ul>
