<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        if (Session["cart"] != null)
        {
            <li>
                <a href="/ShoppingCart/Index">
                    <div class="cart-ui">
                        <div class="cart-container">
                            &nbsp;(@Session["count"])
                        </div>
                        <img src="~/Images/shopping-cart.png" style="height:30px; width:30px;" />
                    </div>

                </a>
            </li>
        }
        else if (Session["cart"] == null)
        {
            <li>
                <a href="/ShoppingCart/Index">
                    <div class="cart-ui">
                        <div class="cart-container">
                            (0)
                        </div>
                        <img src="~/Images/shopping-cart.png" style="height:30px; width:30px;" />
                    </div>
                </a>
            </li>
        }
    }
</ul>
