<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("IShowWatch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/Home/Index"><span class="glyphicon glyphicon-home">Home</span></a>
                </li>
                @if (User.IsInRole("IsAdmin"))
                {
                    <li><a href="/User"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li>
                        <a href="/Order/Index">Order History</a>
                    </li>
                    <li>
                        <a href="/ManageOrder/Index">Manage Order</a>
                    </li>
                    <li>
                        <a href="/Order/OrderPickup">Order Pickup</a>
                    </li>

                }
                else
                {
                    <li>
                        <a href="/Order/Index">Order History</a>
                    </li>
                    <li>
                        <a href="/Order/OrderPickup">Order Pickup</a>
                    </li>
                    @*<li>
                        @Ajax.ActionLink("Open Chat", "Chat", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup" })<br />

                    </li>*@
                }
            </ul>
            @Html.Partial("_LoginPartial")
            @Html.Partial("_CartPartial")

        </div>
    </div>
</div>

