html {
    padding-top: 50px;
    height: auto;
    min-height: 100%;
    /*margin: 0;*/
    padding-bottom: 20px;
    background: url(/SmartLogin/images/TimeBack.jpg) no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;*/
    font-family: 'Muli', sans-serif;
    color: #84b3e2;
}
body {
    background-color: #91b1d2;
}

.modal{
    left:auto;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error, input.error {
    border: 2px solid red;
}

.home-image {
    background: url('../Images/abstract-time-concept.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;*/
    font-family: 'Muli', sans-serif;
}



.form-border {
    /*border: 1px solid #999b9b;*/
    border-radius: 5px;
    padding: 30px 10px 10px 10px;
    margin-bottom: 30px;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #bbb9b9;
    background-color: #ffffff;
}

#content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.custom-label {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4285;
    color: #555;
}

.paddingB30pxToTD > td {
    padding: 10px 20px 10px 20px;
}

.paddingB30pxToTH > th {
    padding: 0 20px 0 20px;
}

.p {
    font-size: 34px;
}

.submited {
    color: lawngreen;
    /*background-color:green;*/
}
